* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f13371;
}

.board > div {
  display: flex;
}

.boardSquaresButton {
  background-color: #e9e1da;
  color: #adff9b;
  margin: 16px;
  width: 95px;
  height: 85px;
  padding: 4px;
  border-radius: 5px;
  font-size: 55px;
  cursor: pointer;
  position: relative;
  top: 0;
}

.boardSquaresButton:hover {
  background-color: #d6cfc8;
}

.ticTacToeOptions {
  margin: 12px;
  color: #e9e1da;
}

.ticTacToeBoard {
  display: flex;
  flex-wrap: wrap;
}
